<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1 class="text-center">Inscription</h1>
              <p class="text-medium-emphasis text-center">Veuiller entrer vos informations</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" placeholder="Entrer votre nom" required="required"
                aria-required="true" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"  value="nom" cFormControl/>
                <c-alert 
                  [(visible)]="boolname"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  Veuillez entrer votre nom
                </c-alert>               
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="firstname" placeholder="Entrer votre prenom" required="required" aria-required="true" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" value="prenom" cFormControl/>
                <c-alert 
                  [(visible)]="boolfirstname"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  Veuillez entrer votre prenom
                </c-alert> 
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" placeholder="Email" required="required" aria-required="true" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" value="mail@abc.com" cFormControl/>
                <c-alert 
                  [(visible)]="boolemail"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  Veuillez entrer votre mail
                </c-alert> 
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" placeholder="Password" type="password" required="required" aria-required="true" [(ngModel)]="pass1" [ngModelOptions]="{standalone: true}" cFormControl/>
                <c-alert 
                  [(visible)]="boolpass1"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  Veuillez entrer un mot de passe
                </c-alert> 
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" placeholder="Repeat password" type="password" required="required" aria-required="true" [(ngModel)]="pass2" [ngModelOptions]="{standalone: true}" cFormControl/>
                <c-alert 
                  [(visible)]="boolpass2"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  Veuillez confirmer votre mot de passe
                </c-alert> 
                <c-alert 
                  [(visible)]="boolpass"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  <strong>Erreur:</strong> mot de passe different.
                </c-alert> 
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" (click)="signup()" *ngIf="!loading">S'inscrire</button>
                <button cButton color="secondary" *ngIf="loading">
                  <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>                      
                  Loading...
                </button>
                <c-alert 
                  [(visible)]="boolpass"
                  [dismissible]="true"
                  color="danger"
                  fade
                  class="errorDisplay">
                  <strong>Erreur:</strong> {{ errorMessage }}
                </c-alert> 
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
