<h1>Liste des services</h1>
<table datatable class="table">
    <thead>
        <tr>
            <th>Services</th>
            <th>Prix</th>
            <th>Duree</th>
            <th>commission</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of serv">
            <th>{{ service.designation }}</th>
            <td>{{ service.price }}</td>
            <td>{{ service.duration }}</td>
            <td>{{ service.commission }}</td>
            <td>
                <mat-icon>delete</mat-icon>
                <button class="primary">Détail</button>
            </td>
        </tr>
    </tbody>
</table>
<!-- <div><button class="primary">Ajout</button></div> -->
<!-- <button mat-raised-button color="primary" onclick="openAddServiceModal()">Add Service</button> -->
<button mat-raised-button color="primary" (click)="openAddServiceModal()">Add Service</button>